.cv {
  padding: 0 2rem;
  background-color: #eee;
  border: 0.5rem solid #be3d01;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 0 1rem;
}

.cv a {
  color: #111;
}

.cv .head {
  font-family: "Courier New", Courier, monospace;
}
