.hobbies {
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 2rem 0;
}

.container > h1 {
  text-align: center;
  border-bottom: 0.3rem dotted #111;
  padding: 1rem;
}
.cardContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  gap: 3rem;
  padding: 1rem 0.5rem;
  position: relative;
  scroll-behavior: smooth;
}

.card {
  flex: 0 0 300px;
  height: 500px;
  width: 300px;
  background-color: #fafafa;
  border: 1px solid #eee;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cardImg {
  height: 100%;
}

.cardImg img {
  height: 100%;
  width: 100%;
  border-radius: 7px;
}

.carousel-button {
  position: absolute;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 2px solid white;
  font-size: x-large;
  display: none;
}

.carousel-button.prev {
  left: -1rem;
  top: 50%;
}

.carousel-button.next {
  right: -1rem;
  top: 50%;
}

.movieSliderContainer {
  position: relative;
  width: 100%;
}

@media only screen and (min-width: 900px) {
  .carousel-button {
    display: inline;
  }
  .cardContainer::-webkit-scrollbar {
    display: none;
  }
  .cardContainer {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
